<%- include('../partials/header') %>

<div>
    <div class="dashboard">
        <div class="dashboard-title">
            <div class="image1">
                <img src="https://cdn.shopify.com/b/shopify-brochure2-assets/2ecdaa09da44408d3c2a2b9cba3a2c07.png?originalWidth=1005&originalHeight=1288"
                    alt="shoping image">
            </div>
            <div class="title">
                <h1> START SELLING WITH SHOPIFY TODAY</h1>
                <marquee behavior="" direction="">
                    <p>Start your free trial with Shopify today—then use these resources to guide you through every step
                        of the process.</p>
                </marquee>
                <div class="read-button">
                    <a href="/products" class="btn btn-primary">Get Started</a>
                </div>
            </div>
            <div class="image2">
                <img src="https://cdn.shopify.com/b/shopify-brochure2-assets/16db235a9390238e6f9b8fd2a5c29680.png?originalWidth=1005&originalHeight=1288"
                    alt="default_shoping">
            </div>
        </div>

        <div class="main-barand">
            <h1>BlOG|BRAND</h1>
        </div>

        <div class="product-card">

            <div class="card-level">
                <div class="pro-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj9zTsUw9GLhneuaoFGKsx3WAzZc9qE1SK_w&s"
                        alt="default-img">
                </div>
                <h3>LAPTOP FOR HOME</h3>
                <p>Up to 40% Off</p>
            </div>

            <div class="card-level">
                <div class="pro-img">
                    <img src="https://images.meesho.com/images/products/386786829/tbidy_1200.jpg" alt="default-img">
                </div>
                <h3>MAN POLYCOTTON Tshirt</h3>
                <p>Up to 30% Off</p>
            </div>
            <div class="card-level">
                <div class="pro-img">
                    <img src="https://m.media-amazon.com/images/I/41SbFiUoSOL._SX300_SY300_QL70_FMwebp_.jpg"
                        alt="default-img">
                </div>
                <h3>OnePlus 12R (Cool Blue)</h3>
                <p>Up to 40% Off</p>
            </div>
            <div class="card-level">
                <div class="pro-img">
                    <img src="https://images.meesho.com/images/products/162786890/k3dvi_1200.jpg" alt="default-img">
                </div>
                <h3>WOMAN SUT</h3>
                <p>Up to 40% Off</p>
            </div>
            <div class="card-level">
                <div class="pro-img">
                    <img src="https://plus.unsplash.com/premium_photo-1675896084254-dcb626387e1e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZHVjdHxlbnwwfHwwfHx8MA%3D%3D"
                        alt="default-img">
                </div>
                <h3>FRAGRANCE</h3>
                <p>Up to 40% Off</p>
            </div>
            <div class="card-level">
                <div class="pro-img">
                    <img src="https://images.unsplash.com/photo-1523275335684-37898b6baf30?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZHVjdHxlbnwwfHwwfHx8MA%3D%3D"
                        alt="default-img">
                </div>
                <h3>DIGITAL WATCH</h3>
                <p>Up to 70% Off</p>
            </div>

            <div class="card-level">
                <div class="pro-img">
                    <img src="https://images.unsplash.com/photo-1556228578-8c89e6adf883?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZHVjdHxlbnwwfHwwfHx8MA%3D%3D"
                        alt="default-img">
                </div>
                <h3>CUROLOGY</h3>
                <p>From 70%</p>
            </div>

            <div class="card-level">
                <div class="pro-img">
                    <img src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cHJvZHVjdHxlbnwwfHwwfHx8MA%3D%3D"
                        alt="default-img">
                </div>
                <h3>VOLT MUSIC EAR PHONE</h3>
                <p>Up to 80% Off</p>
            </div>


            <div class="card-level">
                <div class="pro-img">
                    <img src="https://images.unsplash.com/photo-1541643600914-78b084683601?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHByb2R1Y3R8ZW58MHx8MHx8fDA%3D"
                        alt="default-img">
                </div>
                <h3>EAU DE PARFUM</h3>
                <p>Up to 30% Off</p>
            </div>

            <div class="card-level">
                <div class="pro-img">
                    <img src="https://images.unsplash.com/photo-1526170375885-4d8ecf77b99f?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHByb2R1Y3R8ZW58MHx8MHx8fDA%3D"
                        alt="default-img">
                </div>
                <h3>Analog Photography</h3>
                <p>Up to 60% Off</p>
            </div>

        </div>

        <div class="advatisement">
            <div class="video-box">
                <video disableremoteplayback defaultmuted muted playsinline autoplay loop>
                    <source
                        src="https://www.publitas.com/wp-content/uploads/2023/10/mobile-shoppable-video-and-ecommerce-store-v3.mp4"
                        type="video/mp4">
                    Your browser does not support the video tag.

                </video>
            </div>
        </div>

        <div class="electronics-product">
            <div class="electronpage">
                <h2>Best of Electronics</h2>
            </div>
            <div class="products">
                <div class="productcard">
                    <img src="https://images.unsplash.com/photo-1633346703386-bf6f1e59ec6f?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGVhcmJ1ZHxlbnwwfHwwfHx8MA%3D%3D"
                        alt="earbuds">
                    <h3>Best Truewireless Headphones</h3>
                    <p>Grab Now</p>
                </div>
                <div class="productcard">
                    <img src="https://media.istockphoto.com/id/173880469/photo/isolated-battery-powered-razor.webp?s=2048x2048&w=is&k=20&c=F3I2kp9ibEhNpKfkHA0x6az-adwMjsCyBY4pfjtGkg8="
                        alt="trimmer">
                    <h3>Best of Shavers</h3>
                    <p>From $1649</p>
                </div>
                <div class="productcard">
                    <img src="https://media.istockphoto.com/id/163251105/photo/wristwatch.jpg?s=2048x2048&w=is&k=20&c=_LMgCkTeR4t5ouWFAMUuyASmpW-6ScSQUi9op4KF4oE="
                        alt="trimmer">
                    <h3>Fastrack SmartWatches</h3>
                    <p>From $1299</p>
                </div>
                <div class="productcard">
                    <img src="https://media.istockphoto.com/id/461910689/photo/movie-camera-isolated.jpg?s=2048x2048&w=is&k=20&c=wws4Y8x8_ubktPEaPz8yvJL8AQaIEk8hesrLaUkCxfg="
                        alt="camera">
                    <h3>Top Mirrorless Cameras</h3>
                    <p>Shop Now!</p>
                </div>

                <div class="productcard">
                    <img src="https://images.unsplash.com/photo-1616763355548-1b606f439f86?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="camera">
                    <h3>ViewSonic Monitors</h3>
                    <p>From $8000</p>
                </div>

                <div class="productcard">
                    <img src="https://media.istockphoto.com/id/652812364/photo/portable-working-beamer-projector.jpg?s=2048x2048&w=is&k=20&c=pcR7LWhhqwD0kLjkhrAcz118VArkm0fXDQhgictEMkU="
                        alt="camera">
                    <h3>Projectors</h3>
                    <p>From $9999</p>
                </div>

            </div>
        </div>

        <div class="type-product">
            <div class="sport-fitness">
                <h1 class="brand">sport & Fitness Essentials</h1>
                <div class="porducttype">
                    <img src="https://images.unsplash.com/photo-1521572163474-6864f9cf17ab?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="tshirt">
                    <h2>Men's T-shirt</h2>
                    <p>In Focus Now</p>
                </div>
                <div class="porducttype">
                    <img src="https://www.gonoise.com/cdn/shop/files/4_copy_8995b202-72c9-4202-890d-60a6ef79b949.webp?v=1720443495" alt="earbuds">
                    <h2>True Wireless</h2>
                    <p>Special offer</p>
                </div>
                <div class="porducttype">
                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/8f6cab484ede4c869630af5600a64bf4_9366/Classic_Badge_of_Sport_Backpack_Blue_HR9809_01_standard.jpg" alt="Backpacks">
                    <h2>Backpacks</h2>
                    <p>Min. 70% off</p>
                </div>
                <div class="porducttype">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWgCGEgnjkrJMEQ0i0EvCJHsL-ASidFg2NNg&s" alt="Men's Vest">
                    <h2>Men's Vest</h2>
                    <p>Specials</p>
                </div>
            </div>
            <div class="home-decor">
                <h1 class="brand">Home Decor & Furnishings</h1>
                <div class="porducttype">
                    <img src="https://m.media-amazon.com/images/I/516V5cEk70L._SX300_SY300_QL70_FMwebp_.jpg" alt="Webelkart Premium Plastic">
                    <h2>Webelkart Premium Plastic</h2>
                    <p>Min. 50% off</p>
                </div>
                <div class="porducttype">
                    <img src="https://plus.unsplash.com/premium_photo-1665520346783-07a1dbcc6e19?q=80&w=1973&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="key">
                    <h2>Key Holder</h2>
                    <p>Special Offer</p>
                </div>
                <div class="porducttype">
                    <img src="https://plus.unsplash.com/premium_photo-1661688691767-7a9e409fd5dd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Plants">
                    <h2>Plants Saplings</h2>
                    <p>Special offer</p>
                </div>
                <div class="porducttype">
                    <img src="https://m.media-amazon.com/images/I/41LurDm0OCL._SX300_SY300_QL70_FMwebp_.jpg" alt="Emergency Lights">
                    <h2>Emergency Lights</h2>
                    <p>Min. 40% off</p>
                </div>
            </div>
            <div class="health-wellness">
                <h1 class="brand">Best of Health & Wellness</h1>
                <div class="porducttype">
                    <img src="https://media.istockphoto.com/id/1324542701/photo/hand-hold-sports-shoes-on-red-background-holding-new-fashion-sneakers-for-running-choosing.jpg?s=2048x2048&w=is&k=20&c=2PQ2cjs7wWiDEHREdMrnWZQZT5StgyC5jniw9yeU-DU=" alt="Sports">
                    <h2>Men's Sports Shoes</h2>
                    <p>Min. 70% Off</p>
                </div>
                <div class="porducttype">
                    <img src="https://m.media-amazon.com/images/I/31r6OJquN5L._SY300_SX300_QL70_FMwebp_.jpg" alt="Bottles">
                    <h2>Water Bottles & Flasks</h2>
                    <p>Top Deals</p>
                </div>
                <div class="porducttype">
                    <img src="https://media.istockphoto.com/id/1189984324/photo/smart-watch-for-branding-and-mock-up-3d-render-illustration.webp?s=2048x2048&w=is&k=20&c=P0_fPUBpSws3EQtv50_UUS4Jcl-QDuKwT1GgWxSSoqI=" alt="Watches">
                    <h2>Smart Watches</h2>
                    <p>Min. 40% Off</p>
                </div>
                <div class="porducttype">
                    <img src="https://rehamobucket.s3.ap-south-1.amazonaws.com/RehamoProducts/RH18LW0040/Images/1_Image.jpg" alt="Bags">
                    <h2>Hot Bags</h2>
                    <p>Min. 50% Off</p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-box">
            <div class="infor-section">
                <h3>ABOUT</h3>
              <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Flipkart Stories</a></li>
              </ul>
            </div>
            <div class="infor-section">
                <h3>GROUP COMPANIES</h3>
            <ul>
                <li><a href="#">Myntra</a></li>
                <li><a href="#">ClearTrip</a></li>
                <li><a href="#">Shopsy</a></li>
                
            </ul>
            </div>
            <div class="infor-section">
                <h3>HELP</h3>
            <ul>
                <li><a href="#">Payments</a></li>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Cancellation & Return</a></li>
                <li><a href="#">Report Infringement</a></li>
            </ul>
            </div>

            <div class="infor-section">
                <h3>CONSUMER POLICY</h3>
                <ul>
                    <li><a href="#">Term Of Use</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="#">Cancellation & Return</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </div>
        </div>
    </div>

   
</div>

<%- include('../partials/footer') %>